<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-6">
    <%= image_tag @listing.image.url(:medium) %>
  </div>
  <div class="col-6">
  <h3><%= @listing.name %></h3>
  <p><%= @listing.price %></p>
  <p><%= @listing.description %></p>
  </div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<%
=begin%>
 <p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-6">
    <div class="card">
      <%= image_tag @listing.image.url(:medium) %>
    </div>
  </div>
  <div class="col-6">
    <h3><%= @listing.name %></h3>
    <p><%= @listing.price %></p>
    <p><%= @listing.description %></p>
  </div>
</div> 
<%
=end%>



 <%
=begin%>
 <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<%= image_tag @listing.image.url(:medium) %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
 
<%

 
<%
=end%>
